*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#f5f7fb;
    color:#333;
    line-height:1.6;
}

header{
    background:linear-gradient(135deg,#0f172a,#2563eb);
    color:#fff;
    min-height:100vh;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
}

nav h2{
    font-size:28px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:#fff;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

nav ul li a:hover{
    color:#facc15;
}

.hero{
    text-align:center;
    margin-top:120px;
    padding:20px;
}

.hero h1{
    font-size:56px;
    margin-bottom:10px;
}

.hero span{
    color:#facc15;
}

.hero h3{
    font-size:28px;
    margin-bottom:15px;
}

.hero p{
    max-width:700px;
    margin:auto;
    font-size:18px;
}

.btn{
    display:inline-block;
    margin-top:30px;
    padding:14px 32px;
    background:#facc15;
    color:#111;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-4px);
}

section{
    width:90%;
    max-width:1200px;
    margin:70px auto;
}

section h2{
    font-size:34px;
    color:#2563eb;
    margin-bottom:20px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card,.project,.item{
    background:#fff;
    border-radius:12px;
    padding:25px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover,
.project:hover,
.item:hover{
    transform:translateY(-8px);
}

.card i{
    font-size:40px;
    color:#2563eb;
    margin-bottom:15px;
}

.project img{
    width:100%;
    border-radius:10px;
    margin-bottom:15px;
}

.timeline{
    display:grid;
    gap:25px;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:60px;
}

@media(max-width:768px){

nav{
flex-direction:column;
}

nav ul{
flex-direction:column;
text-align:center;
margin-top:20px;
}

nav ul li{
margin:12px 0;
}

.hero{
margin-top:70px;
}

.hero h1{
font-size:38px;
}

.hero h3{
font-size:22px;
}

}
